﻿<section class="mainbar" data-ng-controller="message as vm">
    <section >
        <div class="container">
            <div class="row" id="heading">
                <section class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="row page-header" style="text-align:center">
                        <h1>Health and Safety Reporter</h1>
                        <p>Use this form to report accidents, incidents or other Health and Safety concerns</p>
                    </div>
                    <form name="messageForm" ng-submit="vm.postEmail(messageForm.$valid)" novalidate>
                        <div class="row">
                            <div class="well well-sm">
                                <p class="text-danger ">Only select &quot;Notify Science Department&quot; if the issue you are reporting is relevant to the Science Department and its labs.</p>
                                <label>
                                    <input type="checkbox" ng-model="vm.includeScience" /> Notify Science Department
                                </label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div >

                                <div class="form-group" show-errors>
                                    <label for="location">Location</label>
                                    <input class="form-control" name="location" type="text" ng-model="vm.location" ng-minlength="3" value="" placeholder="Please enter the location" required />
                                    <p class="help-block" ng-if="messageForm.location.$error.required">A Location is required</p>
                                </div>
                                <div class="form-group" show-errors>
                                    <label for="description">Description</label>
                                    <textarea name="description" class="form-control" rows="8" ng-model="vm.description" ng-minlength="3" placeholder="Please enter a description of the problem.." required></textarea>
                                    <p class="help-block" ng-if="messageForm.description.$error.required">A Description is required</p>
                                </div>
                            </div>
                            <div style="margin-bottom:30px">
                                <label>
                                    <input type="checkbox" ng-model="vm.sendToMe"> Send a copy to Me
                                </label>
                            </div>
                            <div class="center-block" >
                                <button type="submit" ng-click="vm.sendEmail()" class="btn btn-primary">Send Email</button>
                                <button class="btn btn-default" ng-click="vm.reset()">Reset</button>
                            </div>
                            </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
</section>

